<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>126775</key>
	<string>http://graphics8.nytimes.com/images/2014/11/21/arts/21KINGMOCK/KINGMOCK-thumbStandard.jpg</string>
	<key>37375</key>
	<string>http://graphics8.nytimes.com/images/2014/12/05/arts/05PASSIONATE/PASSIONATE-thumbStandard.jpg</string>
	<key>415865</key>
	<string>http://graphics8.nytimes.com/images/2014/11/14/arts/14FOXCATCHER/14FOXCATCHER-thumbStandard.jpg</string>
	<key>434134</key>
	<string>http://graphics8.nytimes.com/images/2015/04/10/arts/10rebelssub/10rebelssub-thumbStandard.jpg</string>
	<key>439675</key>
	<string>http://graphics8.nytimes.com/images/2015/05/14/arts/madmax2/madmax2-thumbStandard.jpg</string>
	<key>440765</key>
	<string>http://graphics8.nytimes.com/images/2015/06/05/arts/05LOVE1/05LOVE1-thumbStandard-v2.jpg</string>
	<key>442570</key>
	<string>http://graphics8.nytimes.com/images/2014/10/03/arts/03GOODLIE/03GOODLIE-thumbStandard-v2.jpg</string>
	<key>446972</key>
	<string>http://graphics8.nytimes.com/images/2014/11/05/arts/interstellar2/interstellar2-thumbStandard.jpg</string>
	<key>453591</key>
	<string>http://graphics8.nytimes.com/images/2014/10/10/arts/10YOURENOTYOU/10YOURENOTYOU-thumbStandard-v2.jpg</string>
	<key>453759</key>
	<string>http://graphics8.nytimes.com/images/2015/01/14/arts/ostlund/ostlund-thumbStandard.jpg</string>
	<key>457141</key>
	<string>http://graphics8.nytimes.com/images/2015/04/08/arts/08ABOUTELLY2/08ABOUTELLY2-thumbStandard.jpg</string>
	<key>458687</key>
	<string>http://graphics8.nytimes.com/images/2015/05/29/arts/29UNICORNS/29UNICORNS-thumbStandard-v2.jpg</string>
	<key>460524</key>
	<string>http://graphics8.nytimes.com/images/2014/12/25/arts/SELMA/SELMA-thumbStandard.jpg</string>
	<key>462925</key>
	<string>http://graphics8.nytimes.com/images/2015/05/15/arts/15EVERY2/15EVERY2-thumbStandard-v2.jpg</string>
	<key>464540</key>
	<string>http://graphics8.nytimes.com/images/2015/03/27/arts/27WHILE/27WHILE-thumbStandard.jpg</string>
	<key>464542</key>
	<string>http://graphics8.nytimes.com/images/2014/12/12/arts/inherent1/inherent1-thumbStandard.jpg</string>
	<key>465490</key>
	<string>http://graphics8.nytimes.com/images/2015/06/05/arts/06TESTAMENT1/06TESTAMENT1-thumbStandard.jpg</string>
	<key>467506</key>
	<string>http://graphics8.nytimes.com/images/2015/01/09/arts/VALLEY2/VALLEY2-thumbStandard.jpg</string>
	<key>467800</key>
	<string>http://graphics8.nytimes.com/images/2014/12/25/arts/WOODS/WOODS-thumbStandard-v2.jpg</string>
	<key>468717</key>
	<string>http://graphics8.nytimes.com/images/2014/11/21/arts/21STONES2/21STONES2-thumbStandard.jpg</string>
	<key>472268</key>
	<string>http://graphics8.nytimes.com/images/2014/10/31/arts/PLOT-1414689701487/PLOT-1414689701487-thumbStandard-v3.jpg</string>
	<key>472498</key>
	<string>http://graphics8.nytimes.com/images/2015/01/16/arts/16JPBLACKHAT1/16JPBLACKHAT1-thumbStandard-v2.jpg</string>
	<key>472557</key>
	<string>http://graphics8.nytimes.com/images/2015/02/27/arts/27BLUEBIRD/27BLUEBIRD-thumbStandard.jpg</string>
	<key>472583</key>
	<string>http://graphics8.nytimes.com/images/2014/12/19/arts/19MRTURNER/19MRTURNER-thumbStandard-v2.jpg</string>
	<key>472767</key>
	<string>http://graphics8.nytimes.com/images/2014/10/10/arts/whiplash/whiplash-thumbStandard.jpg</string>
	<key>472867</key>
	<string>http://graphics8.nytimes.com/images/2014/11/28/arts/28BABADOCK2/BABADOCK2-thumbStandard.jpg</string>
	<key>472882</key>
	<string>http://graphics8.nytimes.com/images/2014/11/19/arts/BADHAIR/BADHAIR-thumbStandard.jpg</string>
	<key>472965</key>
	<string>http://graphics8.nytimes.com/images/2014/11/14/arts/14JPBEYOND1/14JPBEYOND1-thumbStandard-v2.jpg</string>
	<key>472993</key>
	<string>http://graphics8.nytimes.com/images/2014/09/17/arts/17GUEST/17GUEST-thumbStandard.jpg</string>
	<key>473035</key>
	<string>http://graphics8.nytimes.com/images/2015/02/27/arts/27EASTER/27EASTER-thumbStandard-v2.jpg</string>
	<key>475473</key>
	<string>http://graphics8.nytimes.com/images/2014/12/31/arts/JPMOST/JPMOST-thumbStandard-v3.jpg</string>
	<key>475585</key>
	<string>http://graphics8.nytimes.com/images/2015/03/27/arts/27RIOTCLUB/27RIOTCLUB-thumbStandard.jpg</string>
	<key>475603</key>
	<string>http://graphics8.nytimes.com/images/2015/02/27/arts/27SEVENTYJP/27SEVENTYJP-thumbStandard.jpg</string>
	<key>475957</key>
	<string>http://graphics8.nytimes.com/images/2014/10/17/arts/17JPDEARWHITEPEOPLE/17JPDEARWHITEPEOPLE-thumbStandard-v2.jpg</string>
	<key>475961</key>
	<string>http://graphics8.nytimes.com/images/2015/03/27/arts/27CUPCAKES/27CUPCAKES-thumbStandard-v2.jpg</string>
	<key>475989</key>
	<string>http://graphics8.nytimes.com/images/2015/02/27/arts/27FUTURO/27FUTURO-thumbStandard.jpg</string>
	<key>475990</key>
	<string>http://graphics8.nytimes.com/images/2014/11/07/arts/07THEWAYHELOOKS/THEWAYHELOOKS-thumbStandard.jpg</string>
	<key>476094</key>
	<string>http://graphics8.nytimes.com/images/2014/12/24/arts/JPTWODAYS/JPTWODAYS-thumbStandard.jpg</string>
	<key>476107</key>
	<string>http://graphics8.nytimes.com/images/2014/11/14/arts/14HOMESMAN/14HOMESMAN-thumbStandard-v2.jpg</string>
	<key>476113</key>
	<string>http://graphics8.nytimes.com/images/2015/02/13/arts/13SHADOWS/13SHADOWS-thumbStandard.jpg</string>
	<key>476217</key>
	<string>http://graphics8.nytimes.com/images/2014/10/03/arts/03BLUEROOM/03BLUEROOM-thumbStandard-v2.jpg</string>
	<key>476303</key>
	<string>http://graphics8.nytimes.com/images/2015/05/08/arts/08SAINTLAURENT/08SAINTLAURENT-thumbStandard-v2.jpg</string>
	<key>476563</key>
	<string>http://graphics8.nytimes.com/images/2014/12/03/arts/subwild/subwild-thumbStandard.jpg</string>
	<key>476605</key>
	<string>http://graphics8.nytimes.com/images/2014/10/29/arts/goodbye/goodbye-thumbStandard.jpg</string>
	<key>476607</key>
	<string>http://graphics8.nytimes.com/images/2015/02/13/arts/13GETT/13GETT-thumbStandard-v2.jpg</string>
	<key>476672</key>
	<string>http://graphics8.nytimes.com/images/2015/03/27/arts/27WHITEDOG2/27WHITEDOG2-thumbStandard.jpg</string>
	<key>476813</key>
	<string>http://graphics8.nytimes.com/images/2015/04/10/arts/10CLOUDSALT/10CLOUDSALT-thumbStandard-v2.jpg</string>
	<key>476927</key>
	<string>http://graphics8.nytimes.com/images/2014/10/03/arts/03HAIDER/HAIDER-thumbStandard.jpg</string>
	<key>476929</key>
	<string>http://graphics8.nytimes.com/images/2015/04/10/arts/10EXMACHINA/10EXMACHINA-thumbStandard.jpg</string>
	<key>477003</key>
	<string>http://graphics8.nytimes.com/images/2015/05/29/arts/29NICOLE/29NICOLE-thumbStandard.jpg</string>
	<key>477047</key>
	<string>http://graphics8.nytimes.com/images/2015/01/23/arts/23MOMMY/23MOMMY-thumbStandard.jpg</string>
	<key>477124</key>
	<string>http://graphics8.nytimes.com/images/2014/11/07/arts/07PELICANS/PELICANS-thumbStandard.jpg</string>
	<key>477189</key>
	<string>http://graphics8.nytimes.com/images/2014/09/26/arts/26BELIEVEME/BELIEVEME-thumbStandard.jpg</string>
	<key>477205</key>
	<string>http://graphics8.nytimes.com/images/2015/06/03/arts/03PIGEON/03PIGEON-thumbStandard.jpg</string>
	<key>477206</key>
	<string>http://graphics8.nytimes.com/images/2014/10/24/arts/force/force-thumbStandard.jpg</string>
	<key>477228</key>
	<string>http://graphics8.nytimes.com/images/2014/11/14/arts/14JPREDARMY2/14JPREDARMY2-thumbStandard.jpg</string>
	<key>477265</key>
	<string>http://graphics8.nytimes.com/images/2014/11/05/arts/NGALLERY/NGALLERY-thumbStandard.jpg</string>
	<key>477290</key>
	<string>http://graphics8.nytimes.com/images/2014/10/16/arts/listen1/listen1-thumbStandard.jpg</string>
	<key>477330</key>
	<string>http://graphics8.nytimes.com/images/2014/10/03/arts/03KEEP1/KEEP1-thumbStandard.jpg</string>
	<key>477338</key>
	<string>http://graphics8.nytimes.com/images/2015/03/20/arts/20JAUJA1/20JAUJA1-thumbStandard.jpg</string>
	<key>477432</key>
	<string>http://graphics8.nytimes.com/images/2014/12/12/arts/12TOPFIVE-ALT/12TOPFIVE-ALT-thumbStandard-v2.jpg</string>
	<key>477516</key>
	<string>http://graphics8.nytimes.com/images/2015/05/01/arts/01MAYA/01MAYA-thumbStandard-v2.jpg</string>
	<key>477564</key>
	<string>http://graphics8.nytimes.com/images/2015/01/28/arts/28TIMBUKTUJP/28TIMBUKTUJP-thumbStandard.jpg</string>
	<key>477627</key>
	<string>http://graphics8.nytimes.com/images/2014/10/10/arts/10BOTSO/BOTSO-thumbStandard.jpg</string>
	<key>477635</key>
	<string>http://graphics8.nytimes.com/images/2014/12/19/arts/19SONGOFTHESEA/SONGOF-THESEA-thumbStandard.jpg</string>
	<key>477665</key>
	<string>http://graphics8.nytimes.com/images/2015/03/13/arts/13ITFOLLOWS/ITFOLLOWS-thumbStandard.jpg</string>
	<key>477699</key>
	<string>http://graphics8.nytimes.com/images/2015/02/18/arts/18QUEENSUB/18QUEENSUB-thumbStandard.jpg</string>
	<key>477707</key>
	<string>http://graphics8.nytimes.com/images/2014/10/24/arts/24CITIZEN/24CITIZEN-thumbStandard.jpg</string>
	<key>477797</key>
	<string>http://graphics8.nytimes.com/images/2015/05/15/arts/15GOODKILL/15GOODKILL-thumbStandard.jpg</string>
	<key>477845</key>
	<string>http://graphics8.nytimes.com/images/2014/10/29/arts/REVENGE/REVENGE-thumbStandard.jpg</string>
	<key>477856</key>
	<string>http://graphics8.nytimes.com/images/2014/10/31/arts/31BRADDOCK/31BRADDOCK-thumbStandard.jpg</string>
	<key>477894</key>
	<string>http://graphics8.nytimes.com/images/2014/11/21/arts/21LITTLEHOPE/LITTLEHOPE-thumbStandard.jpg</string>
	<key>477899</key>
	<string>http://graphics8.nytimes.com/images/2014/11/07/arts/07VIRGUNA2/VIRGUNA2-thumbStandard.jpg</string>
	<key>478010</key>
	<string>http://graphics8.nytimes.com/images/2014/11/14/arts/14LOVEHUNTER/LOVEHUNTER-thumbStandard.jpg</string>
	<key>478069</key>
	<string>http://graphics8.nytimes.com/images/2015/04/17/arts/17FELIX/17FELIX-thumbStandard.jpg</string>
	<key>478124</key>
	<string>http://graphics8.nytimes.com/images/2015/03/18/arts/18KUMIKO/18KUMIKO-thumbStandard.jpg</string>
	<key>478147</key>
	<string>http://graphics8.nytimes.com/images/2014/11/24/arts/LIE/LIE-thumbStandard.jpg</string>
	<key>478157</key>
	<string>http://graphics8.nytimes.com/images/2014/12/05/arts/05UZUMASA/UZUMASA-thumbStandard.jpg</string>
	<key>478184</key>
	<string>http://graphics8.nytimes.com/images/2015/05/01/arts/01WELCOME/01WELCOME-thumbStandard.jpg</string>
	<key>478188</key>
	<string>http://graphics8.nytimes.com/images/2014/12/12/arts/12LITTLEFEET/12LITTLEFEET-thumbStandard.jpg</string>
	<key>478237</key>
	<string>http://graphics8.nytimes.com/images/2015/01/16/arts/16MEDEAS/16MEDEAS-thumbStandard-v3.jpg</string>
	<key>478299</key>
	<string>http://graphics8.nytimes.com/images/2015/04/29/arts/29IRISJP/29IRISJP-thumbStandard.jpg</string>
	<key>478430</key>
	<string>http://graphics8.nytimes.com/images/2015/01/09/arts/09ULTIMA/ULTIMA-thumbStandard.jpg</string>
	<key>478431</key>
	<string>http://graphics8.nytimes.com/images/2015/01/09/arts/09SOMETHINGANY/SOMETHINGANYTHING-thumbStandard.jpg</string>
	<key>478547</key>
	<string>http://graphics8.nytimes.com/images/2015/03/06/arts/06BUZZARDSUB/06BUZZARDSUB-thumbStandard-v2.jpg</string>
	<key>478549</key>
	<string>http://graphics8.nytimes.com/images/2015/05/29/arts/29RESULTS1/29RESULTS1-thumbStandard-v3.jpg</string>
	<key>478621</key>
	<string>http://graphics8.nytimes.com/images/2015/03/13/arts/13LIKESUNDAY/13LIKESUNDAY-thumbStandard-v2.jpg</string>
	<key>478627</key>
	<string>http://graphics8.nytimes.com/images/2015/06/12/arts/12WOLFPACKJP/12WOLFPACKJP-thumbStandard-v2.jpg</string>
	<key>478712</key>
	<string>http://graphics8.nytimes.com/images/2015/03/13/arts/0313SEYMOUR/0313SEYMOUR-thumbStandard-v2.jpg</string>
	<key>478762</key>
	<string>http://graphics8.nytimes.com/images/2015/03/06/arts/06FAULTS/06FAULTS-thumbStandard-v2.jpg</string>
	<key>478768</key>
	<string>http://graphics8.nytimes.com/images/2015/03/13/arts/13EVA/0313EVA-thumbStandard.jpg</string>
	<key>479613</key>
	<string>http://graphics8.nytimes.com/images/2015/06/12/arts/12YESMAN/12YESMAN-thumbStandard-v2.jpg</string>
	<key>480136</key>
	<string>http://graphics8.nytimes.com/images/2015/05/29/arts/29HEAVEN1/29HEAVEN1-thumbStandard.jpg</string>
	<key>480170</key>
	<string>http://graphics8.nytimes.com/images/2015/04/10/arts/10HARVEST/10HARVEST-thumbStandard.jpg</string>
	<key>480245</key>
	<string>http://graphics8.nytimes.com/images/2015/04/22/arts/22DONT/22DONT-thumbStandard.jpg</string>
</dict>
</plist>
